@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-stories {
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-bottom: 12rem;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1365px) {
  .mdl-stories {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .mdl-stories {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
.mdl-stories .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.mdl-stories article + * {
  margin-top: 6rem;
}
.mdl-stories footer {
  font: 600 1.5rem/2.6rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media (max-width: 767px) {
  .mdl-stories footer {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
.mdl-stories footer + * {
  margin-top: 1.5rem;
}
.mdl-stories header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-stories header {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-stories header {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-stories .m-grid {
  width: 100%;
  overflow: visible;
}
.mdl-stories .m-grid + * {
  margin-top: 5.4rem;
}
.mdl-stories .m-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.mdl-stories .m-item span {
  display: block;
}
.mdl-stories .m-img {
  cursor: pointer;
  position: relative;
}
.mdl-stories .m-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.3);
}
.mdl-stories .m-img img {
  width: 100%;
  display: block;
}
.mdl-stories .m-img + * {
  margin-top: 1.2rem;
}
@media (min-width: 1366px) {
  .mdl-stories .m-img:hover:before {
    opacity: 1;
  }
  .mdl-stories .m-img:hover .m-icon {
    opacity: 1;
  }
}
.mdl-stories .m-icon {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.2rem solid;
  border-color: #EAE5DF;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.6s ease;
}
.mdl-stories .m-icon.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-stories .m-icon.swiper-button-lock {
  opacity: 0;
}
.mdl-stories .m-icon svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-stories .m-icon svg * {
  transition: 0.6s ease;
}
.mdl-stories .m-icon svg * {
  fill: #EAE5DF;
}
@media (min-width: 1366px) {
  .mdl-stories .m-icon:hover {
    background-color: #3E441D;
    border-color: #3E441D;
  }
  .mdl-stories .m-icon:hover svg * {
    fill: #fff;
  }
}
.mdl-stories .m-pagination > * {
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 0;
  margin: 0 0.4rem !important;
  background-color: #3E441D;
}
.mdl-stories .m-pagination > *:not(.swiper-pagination-bullet-active) {
  opacity: 0.3 !important;
}
@media (max-width: 1365px) {
  .mdl-stories {
    padding-bottom: 7rem;
  }
  .mdl-stories .m-img:before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .mdl-stories .m-icon {
    opacity: 1;
  }
}
@media (max-width: 1023px) {
  .mdl-stories .m-item {
    width: 22rem;
  }
}
@media (max-width: 767px) {
  .mdl-stories {
    padding-bottom: 6rem;
  }
}
.mdl-modal-stories {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease;
}
.mdl-modal-stories.v-selected {
  opacity: 1;
  pointer-events: auto;
}
.mdl-modal-stories.v-selected .m-item {
  pointer-events: auto;
}
.mdl-modal-stories .m-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}
.mdl-modal-stories .m-content {
  width: 43.9rem;
  position: relative;
  z-index: 110;
}
.mdl-modal-stories .m-close {
  position: absolute;
  top: 0;
  left: 100%;
  cursor: pointer;
  transform: translateX(5.5rem);
}
.mdl-modal-stories .m-close svg {
  width: 3.5rem;
  height: auto;
}
.mdl-modal-stories .m-slide-content:not(.swiper-initialized) ~ .m-controls {
  opacity: 0;
  pointer-events: none;
}
.mdl-modal-stories .m-pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  z-index: 10;
}
.mdl-modal-stories .m-pagination-bar {
  flex: 1;
  height: 0.3rem;
  overflow: hidden;
  position: relative;
  border-radius: 99rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.mdl-modal-stories .v-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width linear;
  background-color: #fff;
}
.mdl-modal-stories .m-item {
  position: relative;
  pointer-events: none;
}
.mdl-modal-stories .m-item img,
.mdl-modal-stories .m-item video {
  display: block;
  width: 100%;
  aspect-ratio: 0.56883117;
  object-fit: cover;
  object-position: center;
}
.mdl-modal-stories .m-controls > * {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.6s ease;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
}
.mdl-modal-stories .m-controls > *.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-modal-stories .m-controls > *.swiper-button-lock {
  opacity: 0;
}
.mdl-modal-stories .m-controls > * svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-modal-stories .m-controls > * svg * {
  transition: 0.6s ease;
}
.mdl-modal-stories .m-controls > * svg {
  width: 2.4rem;
  height: 2.4rem;
}
.mdl-modal-stories .m-controls > * svg * {
  fill: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-modal-stories .m-controls > *:hover {
    background-color: #3E441D;
  }
  .mdl-modal-stories .m-controls > *:hover svg * {
    fill: #fff;
  }
}
.mdl-modal-stories .m-controls > *[aria-disabled="true"] {
  opacity: 0;
  pointer-events: none;
}
.mdl-modal-stories .m-left {
  right: 100%;
  transform: translate(-4rem, -50%);
}
.mdl-modal-stories .m-right {
  left: 100%;
  transform: translate(4rem, -50%);
}
.mdl-modal-stories article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.mdl-modal-stories header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
}
.mdl-modal-stories header + * {
  margin-top: 0.8rem;
}
.mdl-modal-stories section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.mdl-modal-stories section + * {
  margin-top: 1.8rem;
}
.mdl-modal-stories .m-chip {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.8rem;
  padding: 0 1.2rem;
  color: #3E441D;
  background-color: #fff;
}
@media (max-width: 1365px) {
  .mdl-modal-stories .m-content {
    width: 38rem;
  }
  .mdl-modal-stories .m-close {
    transform: translateX(8.6rem);
  }
  .mdl-modal-stories article {
    padding-bottom: 5rem;
  }
}
@media (max-width: 767px) {
  .mdl-modal-stories .m-content {
    width: 100vw;
  }
  .mdl-modal-stories .m-close {
    top: 2rem;
    left: auto;
    right: 1.2rem;
    transform: none;
    z-index: 5;
  }
  .mdl-modal-stories .m-pagination {
    top: 2.5rem;
    right: 10rem;
  }
  .mdl-modal-stories .m-item img,
  .mdl-modal-stories .m-item video {
    height: 100dvh;
    aspect-ratio: inherit;
  }
  .mdl-modal-stories .m-controls {
    display: none;
  }
}
