@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
body.v-static-footer main {
  margin-bottom: 0!important;
}
body.v-static-footer .mdl-footer {
  position: static;
}
.mdl-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: #fff;
}
.mdl-footer .m-top {
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-bottom: 13rem;
}
@media (max-width: 1365px) {
  .mdl-footer .m-top {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .mdl-footer .m-top {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1365px) {
  .mdl-footer .m-top {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .mdl-footer .m-top {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
.mdl-footer .m-top .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8rem;
}
.mdl-footer .m-logo {
  flex: none;
}
.mdl-footer .m-logo img {
  width: 16.6rem;
  display: block;
}
.mdl-footer .m-grid {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.mdl-footer .m-title {
  font: 700 1.2rem/1.4rem 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.mdl-footer .m-title + * {
  margin-top: 2rem;
}
.mdl-footer nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mdl-footer nav.v-grid {
  max-width: 25rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mdl-footer nav.v-grid > * {
  width: calc(50% - 1rem);
}
.mdl-footer .m-rrss {
  display: flex;
  gap: 2rem;
}
.mdl-footer .m-rrss svg {
  width: 2.8rem;
  height: auto;
}
.mdl-footer .m-bot {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.3rem;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #EAE5DF;
}
@media (max-width: 1365px) {
  .mdl-footer .m-bot {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .mdl-footer .m-bot {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.mdl-footer .m-bot .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mdl-footer .m-links {
  display: flex;
  gap: 2rem;
}
.mdl-footer .m-powered {
  font-weight: 600;
}
@media (max-width: 1365px) {
  .mdl-footer .m-top {
    padding-bottom: 10rem;
  }
  .mdl-footer .m-top .m-content {
    gap: 8rem;
  }
  .mdl-footer .m-grid {
    justify-content: space-between;
  }
}
@media (max-width: 1023px) {
  .mdl-footer .m-top .m-content {
    flex-direction: column;
    gap: 4rem;
  }
  .mdl-footer .m-grid {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .mdl-footer .m-top {
    padding-bottom: 7.6rem;
  }
  .mdl-footer .m-top .m-content {
    gap: 5rem;
  }
  .mdl-footer .m-grid {
    gap: 3rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mdl-footer .m-grid > * {
    width: calc(50% - 1rem);
  }
  .mdl-footer nav.v-grid {
    flex-direction: column;
  }
  .mdl-footer nav.v-grid > * {
    width: auto;
  }
  .mdl-footer .m-bot {
    padding-bottom: 10rem;
  }
  .mdl-footer .m-bot .m-content {
    gap: 1rem;
    align-items: center;
    flex-direction: column;
  }
}
