@import "../../less/style";    

body{

    &.v-static-footer{

        main{
            margin-bottom: 0!important;
        }

        .mdl-footer{
            position: static;
        }
    }
}

.mdl-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background-color: @color1;

    .m-top{
        .css-horizontal-grid();
        .css-vertical-m();
        padding-bottom: 13rem;

        .m-content{
            .maxW(@maxWXL);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 8rem;
        }
    }

    .m-logo{
        flex: none;

        img{
            width: 16.6rem;
            display: block;
        }
    }

    .m-grid{
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    .m-title{
        font: 700 1.2rem/1.4rem @font2;
        text-transform: uppercase;

        + *{
            margin-top: 2rem;
        }
    }

    nav{
        .css-text();
        .css-text-s();
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &.v-grid{
            max-width: 25rem;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            > *{
                width: ~'calc(50% - 1rem)';
            }
        }
    }

    .m-rrss{
        display: flex;
        gap: 2rem;

        svg{
            width: 2.8rem;
            height: auto;
        }
    }

    .m-bot{
        .css-text();
        .css-text-xs();
        .css-horizontal-grid();
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: @color-off-white;
        
        .m-content{
            .maxW(@maxWXL);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .m-links{
        display: flex;
        gap: 2rem;
    }

    .m-powered{
        font-weight: 600;
    }

    @media @sLaptopL{

        .m-top{
            padding-bottom: 10rem;

            .m-content{
                gap: 8rem;
            }
        }

        .m-grid{
            justify-content: space-between;
        }
    }

    @media @mMobileL{

        .m-top{

            .m-content{
                flex-direction: column;
                gap: 4rem;
            }
        }

        .m-grid{
            width: 100%;
        }
    }

    @media @smMobileL{

        .m-top{
            padding-bottom: 7.6rem;

            .m-content{
                gap: 5rem;
            }
        }

        .m-grid{
            gap: 3rem 0;
            flex-wrap: wrap;
            justify-content: space-between;

            > *{
                width: ~'calc(50% - 1rem)';
            }
        }

        nav{

            &.v-grid{
                flex-direction: column;

                > *{
                    width: auto;
                }
            }
        }

        .m-bot{
            padding-bottom: 10rem;

            .m-content{
                gap: 1rem;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}