@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-mapa {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #EAE5DF;
}
@media (max-width: 1365px) {
  .mdl-mapa {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
@media (max-width: 767px) {
  .mdl-mapa {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.mdl-mapa .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mdl-mapa .m-map {
  width: calc(100% - 62rem);
}
.mdl-mapa .m-map img {
  width: 100%;
  display: block;
}
.mdl-mapa article {
  width: 54rem;
}
.mdl-mapa .m-header + * {
  margin-top: 3rem;
}
.mdl-mapa header {
  font: 600 1.5rem/2.6rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media (max-width: 767px) {
  .mdl-mapa header {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
.mdl-mapa header + * {
  margin-top: 1.6rem;
}
.mdl-mapa section {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-mapa section {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-mapa section {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-mapa .m-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mdl-mapa .m-box {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 3rem;
  background-color: #fff;
}
@media (max-width: 767px) {
  .mdl-mapa .m-box {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}
.mdl-mapa .m-box > * + * {
  margin-top: 1rem;
}
.mdl-mapa .m-box small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  display: block;
}
@media (min-width: 1366px) {
  .mdl-mapa .m-box a {
    transition: 0.6s ease;
  }
  .mdl-mapa .m-box a:hover {
    opacity: 0.7;
  }
}
.mdl-mapa .m-box + * {
  margin-top: 3rem;
}
.mdl-mapa .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-mapa .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
@media (max-width: 1365px) {
  .mdl-mapa .m-map {
    width: calc(100% - 47rem);
  }
  .mdl-mapa article {
    width: 39rem;
  }
}
@media (max-width: 1023px) {
  .mdl-mapa .m-content {
    display: block;
  }
  .mdl-mapa .m-map {
    width: 65rem;
    max-width: 100%;
    margin: 0 auto;
  }
  .mdl-mapa .m-map + * {
    margin-top: 5rem;
  }
  .mdl-mapa article {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
  }
  .mdl-mapa .m-header + * {
    margin-top: 0;
  }
  .mdl-mapa .m-section {
    flex: none;
    width: 39rems;
  }
}
@media (max-width: 767px) {
  .mdl-mapa .m-map + * {
    margin-top: 3rem;
  }
  .mdl-mapa article {
    display: block;
  }
  .mdl-mapa .m-header + * {
    margin-top: 3rem;
  }
}
