@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-destacado-slide-simple {
  background-color: #EAE5DF;
}
.mdl-destacado-slide-simple.v-white {
  background-color: #fff;
}
.mdl-destacado-slide-simple .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}
.mdl-destacado-slide-simple .m-slide-content {
  width: 48rem;
  margin: 0;
}
.mdl-destacado-slide-simple .m-media img {
  width: 100%;
  display: block;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
.mdl-destacado-slide-simple .m-full {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  cursor: pointer;
  transition: 0.6s ease;
}
.mdl-destacado-slide-simple .m-full svg {
  width: 4rem;
  height: auto;
}
@media (min-width: 1366px) {
  .mdl-destacado-slide-simple .m-full:hover {
    opacity: 0.7;
  }
}
.mdl-destacado-slide-simple .m-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
}
.mdl-destacado-slide-simple .m-controls > * {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 50%;
  transition: 0.6s ease;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
}
.mdl-destacado-slide-simple .m-controls > *.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-destacado-slide-simple .m-controls > *.swiper-button-lock {
  opacity: 0;
}
.mdl-destacado-slide-simple .m-controls > * svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-destacado-slide-simple .m-controls > * svg * {
  transition: 0.6s ease;
}
.mdl-destacado-slide-simple .m-controls > * svg {
  width: 2.4rem;
  height: 2.4rem;
}
.mdl-destacado-slide-simple .m-controls > * svg * {
  fill: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-destacado-slide-simple .m-controls > *:hover {
    background-color: #3E441D;
  }
  .mdl-destacado-slide-simple .m-controls > *:hover svg * {
    fill: #fff;
  }
}
.mdl-destacado-slide-simple article {
  width: 48rem;
}
.mdl-destacado-slide-simple header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-destacado-slide-simple header {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-destacado-slide-simple header {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-destacado-slide-simple header + * {
  margin-top: 3rem;
}
.mdl-destacado-slide-simple section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.mdl-destacado-slide-simple section + * {
  margin-top: 4rem;
}
.mdl-destacado-slide-simple aside {
  flex: none;
  width: 29rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mdl-destacado-slide-simple .m-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.mdl-destacado-slide-simple .m-item + * {
  margin-top: 3rem;
}
.mdl-destacado-slide-simple .m-item + .m-button {
  margin-top: 5rem;
}
.mdl-destacado-slide-simple .m-item-title {
  font-weight: 600;
  padding-bottom: 0.6rem;
  border-bottom: 0.1rem solid;
  border-color: #E0E0E0;
}
.mdl-destacado-slide-simple .m-item-title + * {
  margin-top: 1rem;
}
.mdl-destacado-slide-simple .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-destacado-slide-simple .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
@media (max-width: 1365px) {
  .mdl-destacado-slide-simple .m-slide-content {
    width: 35rem;
  }
  .mdl-destacado-slide-simple article {
    width: 42rem;
  }
  .mdl-destacado-slide-simple aside {
    width: 26rem;
  }
}
@media (max-width: 1023px) {
  .mdl-destacado-slide-simple .m-content {
    flex-wrap: wrap;
  }
  .mdl-destacado-slide-simple .m-slide-content {
    width: 36rem;
  }
  .mdl-destacado-slide-simple article {
    width: calc(100% - 40rem);
  }
  .mdl-destacado-slide-simple aside {
    gap: 2.4rem;
    width: 100%;
    flex-direction: row;
  }
  .mdl-destacado-slide-simple .m-item {
    flex-grow: 1;
  }
  .mdl-destacado-slide-simple .m-item + * {
    margin-top: 0!important;
  }
  .mdl-destacado-slide-simple .m-button {
    flex: none;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .mdl-destacado-slide-simple .m-slide-content {
    width: 100%;
  }
  .mdl-destacado-slide-simple article {
    width: 100%;
  }
  .mdl-destacado-slide-simple aside {
    width: 29rem;
    align-items: flex-start;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
  }
  .mdl-destacado-slide-simple .m-button {
    align-self: flex-start;
  }
}
