@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-rewards {
  position: relative;
  background-color: #fff;
  box-shadow: inset 0 20rem 0 0 #EAE5DF;
}
.mdl-rewards.v-color {
  background-color: #EAE5DF;
}
.mdl-rewards .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2rem 8rem 0 rgba(0, 0, 0, 0.06);
}
.mdl-rewards .m-logo {
  width: 22rem;
  max-width: 100%;
}
.mdl-rewards .m-logo + * {
  margin-top: 2rem;
}
.mdl-rewards .m-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
  width: 95rem;
  gap: 4rem;
  padding: 7rem 5rem;
  box-sizing: border-box;
}
.mdl-rewards article {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.mdl-rewards header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-rewards header {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-rewards header {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-rewards header + * {
  margin-top: 1rem;
}
.mdl-rewards section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.mdl-rewards section + * {
  margin-top: 2rem;
}
.mdl-rewards .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-rewards .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
.mdl-rewards .m-grid {
  width: 26rem;
  flex: none;
}
.mdl-rewards .m-slide-content > * {
  background-color: #EAE5DF;
}
.mdl-rewards .m-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  padding: 1.3rem 3rem;
  box-sizing: border-box;
}
.mdl-rewards .m-item span {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  display: block;
  margin-bottom: 0.3rem;
}
@media (max-width: 767px) {
  .mdl-rewards .m-item span {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.mdl-rewards .m-aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: calc(100% - 95rem);
}
.mdl-rewards .m-pagination {
  display: flex;
  justify-content: center;
  margin: 2.8rem auto 0;
}
.mdl-rewards .m-pagination > * {
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 0;
  margin: 0 0.4rem !important;
  background-color: #3E441D;
}
.mdl-rewards .m-pagination > *:not(.swiper-pagination-bullet-active) {
  opacity: 0.3 !important;
}
@media (min-width: 1024px) {
  .mdl-rewards .m-slide-content {
    display: block;
  }
  .mdl-rewards .m-slide-content > * + * {
    margin-top: 1rem;
  }
  .mdl-rewards .m-pagination {
    display: none;
  }
}
@media (max-width: 1365px) {
  .mdl-rewards {
    box-shadow: inset 0 18rem 0 0 #EAE5DF;
  }
  .mdl-rewards .m-section {
    width: 71rem;
    gap: 4rem;
    padding: 6.6rem 4rem;
  }
  .mdl-rewards .m-logo {
    width: 18rem;
  }
  .mdl-rewards .m-aside {
    width: calc(100% - 71rem);
  }
}
@media (max-width: 1023px) {
  .mdl-rewards {
    box-shadow: inset 0 23rem 0 0 #EAE5DF;
  }
  .mdl-rewards .m-section {
    width: 39rem;
    display: block;
    padding: 3.5rem 4rem;
  }
  .mdl-rewards article + * {
    margin-top: 4rem;
  }
  .mdl-rewards .m-grid {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  .mdl-rewards .m-item {
    text-align: center;
  }
  .mdl-rewards .m-aside {
    width: calc(100% - 39rem);
  }
}
@media (max-width: 767px) {
  .mdl-rewards {
    box-shadow: inset 0 34rem 0 0 #EAE5DF;
  }
  .mdl-rewards .m-content {
    display: block;
  }
  .mdl-rewards .m-section {
    width: 100%;
    padding: 4rem 3rem;
  }
  .mdl-rewards .m-aside {
    position: static;
    width: 100%;
    height: 26rem;
    display: block;
  }
}
