@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-hero-scroll {
  padding: 0;
}
.mdl-hero-scroll.v-scrolldown .m-scrolldown {
  display: flex;
}
.mdl-hero-scroll .m-sticky-content {
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 15.4rem;
  padding-right: 15.4rem;
  position: sticky;
  top: 0;
  padding-top: 25rem;
  background-color: #fff;
}
@media (max-width: 1365px) {
  .mdl-hero-scroll .m-sticky-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .mdl-hero-scroll .m-sticky-content {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (max-width: 1365px) {
  .mdl-hero-scroll .m-sticky-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .mdl-hero-scroll .m-sticky-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.mdl-hero-scroll .m-content {
  margin: 0 auto;
  max-width: 137rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8rem;
}
.mdl-hero-scroll .m-header {
  width: 53rem;
}
.mdl-hero-scroll .m-title {
  font: 600 1.5rem/2.6rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media (max-width: 767px) {
  .mdl-hero-scroll .m-title {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
.mdl-hero-scroll .m-title + * {
  margin-top: 1rem;
}
.mdl-hero-scroll header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
}
@media (max-width: 1365px) {
  .mdl-hero-scroll header {
    font-size: 4.4rem;
    line-height: 5.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-hero-scroll header {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}
.mdl-hero-scroll section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  width: 42rem;
}
.mdl-hero-scroll .m-media {
  position: relative;
  background-color: #EAE5DF;
}
.mdl-hero-scroll .m-bg {
  width: 100%;
  height: 60rem;
  display: block;
  object-fit: cover;
  object-position: center;
}
.mdl-hero-scroll .m-aux {
  display: block;
  width: 31rem;
  margin: -25rem auto 0;
}
.mdl-hero-scroll .m-scrolldown {
  font: 700 1rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: absolute;
  top: 100dvh;
  left: 9rem;
  transform: translateY(-100%);
  height: 5rem;
  display: none;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  color: #fff;
}
.mdl-hero-scroll .m-scrolldown:before {
  content: '';
  height: 100%;
  width: 0.2rem;
  margin-right: 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
}
.mdl-hero-scroll .m-scrolldown:after {
  content: '';
  position: absolute;
  top: -2rem;
  left: 0;
  width: 0.2rem;
  height: 2rem;
  animation: drop-animation 1s linear infinite;
  background-color: #fff;
}
@media (max-width: 1365px) {
  .mdl-hero-scroll .m-sticky-content {
    padding-top: 20rem;
  }
  .mdl-hero-scroll .m-bg {
    height: 50rem;
  }
}
@media (max-width: 1023px) {
  .mdl-hero-scroll .m-content {
    display: block;
  }
  .mdl-hero-scroll .m-header + * {
    margin-top: 4rem;
  }
  .mdl-hero-scroll .m-header,
  .mdl-hero-scroll section {
    width: 61rem;
    max-width: 100%;
  }
  .mdl-hero-scroll .m-bg {
    height: 78rem;
  }
}
@media (max-width: 767px) {
  .mdl-hero-scroll .m-sticky-content {
    padding-top: 16rem;
  }
  .mdl-hero-scroll .m-bg {
    height: 46rem;
  }
  .mdl-hero-scroll .m-aux {
    width: 21rem;
  }
  .mdl-hero-scroll .m-scrolldown {
    left: 2rem;
  }
}
@keyframes drop-animation {
  0% {
    top: -2rem;
  }
  100% {
    top: 5rem;
  }
}
