@import "../../less/style";        

.mdl-destacado-slide-simple{
    .css-vertical-s();
    padding-left: 0;
    padding-right: 0;
    background-color: @color1;

    .m-content{
        margin: 0 auto;
        max-width: 168rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    article{
        .css-horizontal-grid();
        width: 55rem;
        flex: none;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    header{
        .css-title();
        .css-title-h2();

        + *{
            margin-top: 1.5rem;
        }

        + section{
            margin-top: 5rem;
        }
    }

    .m-info{
        .css-text();
        .css-text-m();
        font-weight: 600;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: .8rem 1.9rem;

        > *{
            display: flex;
            align-items: center;
            gap: .8rem;
            padding-right: 2rem;
            position: relative;

            &:not(:last-child){

                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: .1rem;
                    height: 2rem;
                    opacity: .5;
                    background-color: @color-bless-700;
                }
            }
        }

        svg{
            width: 2.4rem;
            height: auto;
        }

        sub{
            font-size: 50%;
            line-height: 1;
            vertical-align: baseline;
            display: inline-block;
            transform: translateY(-.6rem);
        }

        + *{
            margin-top: 5rem;
        }
    }

    section{
        .css-text();
        .css-text-s();

        + *{
            margin-top: 4rem;
        }
    }

    .m-links{
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        + *{
            margin-top: 3rem;
        }
    }

    .m-link{
        .css-link();
        .css-link-dark();
    }

    .m-button{
        .css-button();
        .css-button-border();
        .css-button-border-dark();
    }

    aside{
        width: 89rem;
        max-width: ~'calc(100% - 55rem - 18rem)';
    }

    .m-slide-content{

        + *{
            margin-top: 2rem;
        }
    }

    .m-media{

        img{
            width: 100%;
            display: block;
        }
    }

    .m-full{
        position: absolute;
        top: 1.3rem;
        right: 1.5rem;
        z-index: 5;
        cursor: pointer;
        transition: @transition1;
        
        svg{
            width: 4rem;
            height: auto;
        }

        @media @sLaptop{

            &:hover{
                opacity: .7;
            }
        }
    }

    .m-controls-content{
        padding-right: 9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .m-controls{
        display: flex;
        align-items: center;
        gap: 1rem;

        > *{
            .css-button-icon();
            .css-button-icon-small();
            .css-button-icon-light();
        }
    }

    .m-pagination{
        justify-content: flex-start;
        margin: 0;
        left: auto!important;
        transform: none!important;

        &.swiper-pagination-bullets{
            display: flex;
        }

        > *{
            width: 3.5rem;
            height: .2rem;
            border-radius: 0;
            margin: 0 .4rem!important;
            transform: none!important;
            background-color: @color-bless-700;

            &:not(.swiper-pagination-bullet-active){
                opacity: .3!important;
            }
        }
    }
    
    @media @sLaptopL{

        header{
    
            + section{
                margin-top: 3rem;
            }
        }

        .m-info{
    
            + *{
                margin-top: 3rem;
            }
        }

        aside{
            max-width: ~'calc(100% - 55rem - 8rem)';
        }

        .m-controls-content{
            padding-right: 4rem;
        }
    }

    @media @mMobileL{
        padding-left: 4rem;
        padding-right: 4rem;

        .m-content{
            flex-direction: column-reverse;
            gap: 3rem;
        }

        article{
            width: 100%;
            padding: 0;
        }

        aside{
            width: 100%;
            max-width: 100%;
        }

        .m-controls-content{
            padding-right: 0;
        }
    }

    @media @smMobileL{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}