@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-grid-slide {
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-bottom: 12rem;
  background-color: #EAE5DF;
}
@media (max-width: 1365px) {
  .mdl-grid-slide {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .mdl-grid-slide {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
.mdl-grid-slide.v-white {
  background-color: #fff;
}
.mdl-grid-slide .m-content {
  margin: 0 auto;
  max-width: 125rem;
}
.mdl-grid-slide .m-slide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4rem 2.4rem;
}
.mdl-grid-slide .m-slide + * {
  margin-top: 8rem;
}
.mdl-grid-slide .m-img img {
  width: 100%;
  display: block;
}
.mdl-grid-slide .m-img + * {
  margin-top: 3rem;
}
.mdl-grid-slide article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mdl-grid-slide footer {
  font: 600 1.2rem/2rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.36rem;
}
.mdl-grid-slide footer + * {
  margin-top: 0.6rem;
}
.mdl-grid-slide header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
}
@media (max-width: 767px) {
  .mdl-grid-slide header {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
.mdl-grid-slide header + * {
  margin-top: 2.4rem;
}
.mdl-grid-slide section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.mdl-grid-slide section + * {
  margin-top: 2.4rem;
}
.mdl-grid-slide .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-grid-slide .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
.mdl-grid-slide .m-pagination {
  display: none;
}
@media (min-width: 1024px) {
  .mdl-grid-slide.v-3columns .m-item {
    width: calc(33.33% - 1.6rem);
  }
  .mdl-grid-slide.v-4columns .m-item {
    width: calc(25% - 1.8rem);
  }
}
@media (max-width: 1365px) {
  .mdl-grid-slide {
    padding-bottom: 7rem;
  }
}
@media (max-width: 1023px) {
  .mdl-grid-slide {
    overflow: hidden;
  }
  .mdl-grid-slide .m-content {
    overflow: visible;
  }
  .mdl-grid-slide .m-slide {
    gap: 0;
    flex-wrap: nowrap;
    justify-content: inherit;
  }
  .mdl-grid-slide .m-item {
    width: 29rem;
  }
  .mdl-grid-slide .m-pagination {
    display: flex;
    justify-content: center;
    margin: 8rem auto 0;
  }
  .mdl-grid-slide .m-pagination > * {
    width: 3.5rem;
    height: 0.2rem;
    border-radius: 0;
    margin: 0 0.4rem !important;
    background-color: #3E441D;
  }
  .mdl-grid-slide .m-pagination > *:not(.swiper-pagination-bullet-active) {
    opacity: 0.3 !important;
  }
}
@media (max-width: 767px) {
  .mdl-grid-slide {
    padding-bottom: 6rem;
  }
}
