@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-experiencias-relacionadas {
  padding: 0;
}
.mdl-experiencias-relacionadas .m-header {
  padding: 12rem 9rem 10rem;
}
.mdl-experiencias-relacionadas .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.mdl-experiencias-relacionadas article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 82rem;
}
.mdl-experiencias-relacionadas header {
  font: 600 1.5rem/2.6rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media (max-width: 767px) {
  .mdl-experiencias-relacionadas header {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
.mdl-experiencias-relacionadas header + * {
  margin-top: 1.6rem;
}
.mdl-experiencias-relacionadas section {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-experiencias-relacionadas section {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-experiencias-relacionadas section {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-experiencias-relacionadas .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
  flex: none;
}
@media (min-width: 1366px) {
  .mdl-experiencias-relacionadas .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
.mdl-experiencias-relacionadas .m-item {
  width: 39rem;
  position: relative;
  text-align: center;
  color: #fff;
}
.mdl-experiencias-relacionadas .m-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.6s ease;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.mdl-experiencias-relacionadas .m-item img {
  width: 100%;
  display: block;
  aspect-ratio: 0.75;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 1366px) {
  .mdl-experiencias-relacionadas .m-item:hover:before {
    opacity: 0;
  }
  .mdl-experiencias-relacionadas .m-item:hover .m-hover {
    opacity: 1;
  }
}
.mdl-experiencias-relacionadas .m-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  position: absolute;
  left: 4rem;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
}
.mdl-experiencias-relacionadas .m-hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  opacity: 0;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
.mdl-experiencias-relacionadas .m-controls > * {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.6s ease;
  width: 5rem;
  height: 5rem;
  background-color: #EAE5DF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: #fff;
}
.mdl-experiencias-relacionadas .m-controls > *.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-experiencias-relacionadas .m-controls > *.swiper-button-lock {
  opacity: 0;
}
.mdl-experiencias-relacionadas .m-controls > * svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-experiencias-relacionadas .m-controls > * svg * {
  transition: 0.6s ease;
}
.mdl-experiencias-relacionadas .m-controls > * svg {
  width: 2.4rem;
  height: 2.4rem;
}
.mdl-experiencias-relacionadas .m-controls > * svg * {
  fill: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-experiencias-relacionadas .m-controls > *:hover {
    background-color: #3E441D;
  }
  .mdl-experiencias-relacionadas .m-controls > *:hover svg * {
    fill: #fff;
  }
}
.mdl-experiencias-relacionadas .m-left {
  left: 9rem;
}
.mdl-experiencias-relacionadas .m-right {
  right: 9rem;
}
.mdl-experiencias-relacionadas .m-pagination {
  display: none;
}
@media (max-width: 1365px) {
  .mdl-experiencias-relacionadas .m-header {
    padding: 7rem 4rem 10rem;
  }
  .mdl-experiencias-relacionadas .m-content {
    gap: 3.4rem;
  }
  .mdl-experiencias-relacionadas .m-item {
    width: 32rem;
  }
  .mdl-experiencias-relacionadas .m-title {
    left: 3rem;
    right: 3rem;
  }
  .mdl-experiencias-relacionadas .m-left {
    left: 4rem;
  }
  .mdl-experiencias-relacionadas .m-right {
    right: 4rem;
  }
}
@media (max-width: 1023px) {
  .mdl-experiencias-relacionadas .m-header {
    padding-bottom: 6rem;
  }
  .mdl-experiencias-relacionadas .m-content {
    gap: 2rem;
  }
  .mdl-experiencias-relacionadas .m-item {
    width: 25rem;
  }
  .mdl-experiencias-relacionadas .m-controls {
    display: none;
  }
  .mdl-experiencias-relacionadas .m-pagination {
    justify-content: center;
    margin: 6rem auto 0;
    padding-bottom: 7rem;
  }
  .mdl-experiencias-relacionadas .m-pagination.swiper-pagination-bullets {
    display: flex;
  }
  .mdl-experiencias-relacionadas .m-pagination > * {
    width: 3.5rem;
    height: 0.2rem;
    border-radius: 0;
    margin: 0 0.4rem !important;
    background-color: #3E441D;
  }
  .mdl-experiencias-relacionadas .m-pagination > *:not(.swiper-pagination-bullet-active) {
    opacity: 0.3 !important;
  }
}
@media (max-width: 767px) {
  .mdl-experiencias-relacionadas .m-header {
    padding: 6rem 2rem 5rem;
  }
  .mdl-experiencias-relacionadas .m-content {
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
  }
  .mdl-experiencias-relacionadas .m-item {
    width: 27rem;
  }
  .mdl-experiencias-relacionadas .m-pagination {
    margin-top: 5rem;
    padding-bottom: 6rem;
  }
}
