@import "../../less/style";        

.mdl-grid-hotel{
    .css-vertical-l();
    background-color: @color-off-white;

    .m-content{
        .maxW(125rem);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 6rem 2.4rem;

        > *{
            width: ~'calc(50% - 1.2rem)';
        }
    }

    .m-img{

        img{
            width: 100%;
            display: block;
        }

        + *{
            margin-top: 3rem;
        }
    }

    article{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    header{
        .css-title();
        .css-title-h4();

        + *{
            margin-top: 2.4rem;
        }
    }

    section{
        .css-text();
        .css-text-s();
        text-align: center;

        a{
            font-weight: 600;

            @media @sLaptop{
                transition: @transition1;

                &:hover{
                    opacity: .7;
                }
            }
        }

        + *{
            margin-top: 2.4rem;
        }
    }

    .m-button{
        .css-button();
        .css-button-border();
        .css-button-border-dark();
    }

    @media @sLaptopL{
        padding-bottom: 7rem;
    }

    @media @smMobileL{
        padding-bottom: 6rem;

        .m-content{
            display: block;

            > *{
                width: 100%;

                + *{
                    margin-top: 6rem;
                }
            }
        }
    }
}