@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-galeria {
  padding-top: 9rem;
  padding-bottom: 9rem;
  overflow: hidden;
  background-color: #fff;
}
@media (max-width: 1365px) {
  .mdl-galeria {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .mdl-galeria {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
.mdl-galeria .m-content {
  margin: 0 auto;
  max-width: 150rem;
}
.mdl-galeria .m-slide {
  overflow: visible;
  margin-left: -2.4rem;
  margin-right: -2.4rem;
}
.mdl-galeria .m-slide + * {
  margin-top: 6rem;
}
.mdl-galeria .m-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  justify-content: safe center;
}
.mdl-galeria .m-nav > * {
  width: auto;
  cursor: pointer;
  padding: 0 2.4rem;
  position: relative;
}
.mdl-galeria .m-nav > *.v-selected {
  opacity: 1;
  pointer-events: none;
}
.mdl-galeria .m-nav > *.v-selected span {
  opacity: 0.7;
}
.mdl-galeria .m-nav > * span {
  opacity: 0.5;
  transition: 0.6s ease;
}
.mdl-galeria .m-nav > * + *:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 2rem;
  opacity: 0.5;
  background-color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-galeria .m-nav > *:hover span {
    opacity: 0.7;
  }
}
.mdl-galeria .m-grid {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
.mdl-galeria .m-aux {
  display: block!important;
  width: calc(33.33% - 2.4rem);
  margin: 0 1.2rem;
}
.mdl-galeria .m-item {
  width: calc(33.33% - 2.4rem);
  margin: 0 1.2rem 3.2rem;
  position: relative;
  cursor: pointer;
  display: none;
}
.mdl-galeria .m-item.v-selected {
  display: block;
}
.mdl-galeria .m-item img {
  width: 100%;
  display: block;
}
@media (min-width: 1366px) {
  .mdl-galeria .m-item:hover .m-hover {
    opacity: 1;
  }
}
.mdl-galeria .m-video {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 50%;
  transition: 0.6s ease;
  border: 0.2rem solid;
  border-color: #EAE5DF;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdl-galeria .m-video.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-galeria .m-video.swiper-button-lock {
  opacity: 0;
}
.mdl-galeria .m-video svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-galeria .m-video svg * {
  transition: 0.6s ease;
}
.mdl-galeria .m-video svg * {
  fill: #EAE5DF;
}
@media (min-width: 1366px) {
  .mdl-galeria .m-video:hover {
    background-color: #3E441D;
    border-color: #3E441D;
  }
  .mdl-galeria .m-video:hover svg * {
    fill: #fff;
  }
}
.mdl-galeria .m-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
.mdl-galeria .m-hover svg {
  width: 5rem;
  height: auto;
}
@media (max-width: 1023px) {
  .mdl-galeria .m-slide {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .mdl-galeria .m-aux {
    width: calc(50% - 2.4rem);
  }
  .mdl-galeria .m-aux.v-device {
    display: none;
  }
  .mdl-galeria .m-item {
    width: calc(50% - 2.4rem);
  }
  .mdl-galeria .m-nav > * {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  .mdl-galeria .m-aux {
    display: none;
  }
  .mdl-galeria .m-item {
    width: calc(100% - 2.4rem);
  }
}
.mdl-modal-galeria {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease;
}
.mdl-modal-galeria.v-selected {
  opacity: 1;
  pointer-events: auto;
}
.mdl-modal-galeria.v-selected .m-item {
  pointer-events: auto;
}
.mdl-modal-galeria .m-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}
.mdl-modal-galeria .m-content {
  width: 100rem;
  position: relative;
  z-index: 110;
}
.mdl-modal-galeria .m-close {
  position: fixed;
  top: 5.5rem;
  right: 5rem;
  cursor: pointer;
  z-index: 110;
}
.mdl-modal-galeria .m-close svg {
  width: 3.5rem;
  height: auto;
}
.mdl-modal-galeria .m-slide-content:not(.swiper-initialized) ~ .m-controls {
  opacity: 0;
  pointer-events: none;
}
.mdl-modal-galeria .m-slide {
  align-items: center;
}
.mdl-modal-galeria .m-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  text-align: center;
  display: none;
  justify-content: center;
  flex-direction: column;
  max-height: 100%;
  gap: 3rem;
  color: #fff;
}
.mdl-modal-galeria .m-item.v-selected {
  display: flex;
}
.mdl-modal-galeria .m-item img {
  object-fit: contain;
  max-width: 100%;
  max-height: calc(100dvh - 28rem);
}
.mdl-modal-galeria .m-item span {
  flex: none;
}
.mdl-modal-galeria .m-controls > * {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 50%;
  transition: 0.6s ease;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  position: fixed;
  top: 50%;
  z-index: 110;
  transform: translateY(-50%);
}
.mdl-modal-galeria .m-controls > *.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-modal-galeria .m-controls > *.swiper-button-lock {
  opacity: 0;
}
.mdl-modal-galeria .m-controls > * svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-modal-galeria .m-controls > * svg * {
  transition: 0.6s ease;
}
.mdl-modal-galeria .m-controls > * svg {
  width: 2.4rem;
  height: 2.4rem;
}
.mdl-modal-galeria .m-controls > * svg * {
  fill: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-modal-galeria .m-controls > *:hover {
    background-color: #3E441D;
  }
  .mdl-modal-galeria .m-controls > *:hover svg * {
    fill: #fff;
  }
}
.mdl-modal-galeria .m-controls > *[aria-disabled="true"] {
  opacity: 0;
  pointer-events: none;
}
.mdl-modal-galeria .m-left {
  left: 9rem;
}
.mdl-modal-galeria .m-right {
  right: 9rem;
}
@media (max-width: 1365px) {
  .mdl-modal-galeria .m-content {
    width: 91rem;
    max-width: calc(100vw - 26rem);
  }
  .mdl-modal-galeria .m-item img {
    max-height: calc(100dvh - 22rem);
  }
  .mdl-modal-galeria .m-left {
    left: 4rem;
  }
  .mdl-modal-galeria .m-right {
    right: 4rem;
  }
}
@media (max-width: 1023px) {
  .mdl-modal-galeria .m-content {
    padding-top: 4rem;
    max-width: calc(100vw - 8rem);
  }
  .mdl-modal-galeria .m-item img {
    max-height: calc(100dvh - 34rem);
  }
  .mdl-modal-galeria .m-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  .mdl-modal-galeria .m-controls > * {
    position: static;
    transform: none;
  }
}
@media (max-width: 767px) {
  .mdl-modal-galeria .m-content {
    max-width: calc(100vw - 4rem);
  }
}
