@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-restaurantes {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  padding-left: 15.4rem;
  padding-right: 15.4rem;
  overflow: hidden;
  padding-bottom: 12rem;
  background-color: #fff;
}
@media (max-width: 1365px) {
  .mdl-restaurantes {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 1365px) {
  .mdl-restaurantes {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .mdl-restaurantes {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.mdl-restaurantes .m-content {
  margin: 0 auto;
  max-width: 125rem;
}
.mdl-restaurantes .m-slide {
  overflow: visible;
  margin-left: -2.4rem;
  margin-right: -2.4rem;
}
.mdl-restaurantes .m-slide + * {
  margin-top: 6rem;
}
.mdl-restaurantes .m-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  justify-content: safe center;
}
.mdl-restaurantes .m-nav > * {
  width: auto;
  cursor: pointer;
  padding: 0 2.4rem;
  position: relative;
}
.mdl-restaurantes .m-nav > *.v-selected {
  opacity: 1;
  pointer-events: none;
}
.mdl-restaurantes .m-nav > *.v-selected span {
  opacity: 0.7;
}
.mdl-restaurantes .m-nav > * span {
  opacity: 0.5;
  transition: 0.6s ease;
}
.mdl-restaurantes .m-nav > * + *:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 2rem;
  opacity: 0.5;
  background-color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-restaurantes .m-nav > *:hover span {
    opacity: 0.7;
  }
}
.mdl-restaurantes .m-grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8rem 2.4rem;
}
.mdl-restaurantes .m-item {
  display: none;
  width: calc(33.33% - 1.6rem);
}
.mdl-restaurantes .m-item.v-selected {
  display: block;
}
.mdl-restaurantes .m-img {
  position: relative;
}
.mdl-restaurantes .m-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.mdl-restaurantes .m-img + * {
  margin-top: 2rem;
}
.mdl-restaurantes .m-caption {
  width: 100%;
  display: block;
  aspect-ratio: 0.8;
  object-fit: cover;
  object-position: center;
}
.mdl-restaurantes .m-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 4rem);
}
.mdl-restaurantes article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mdl-restaurantes header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
}
@media (max-width: 767px) {
  .mdl-restaurantes header {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
.mdl-restaurantes header + * {
  margin-top: 0.4rem;
}
.mdl-restaurantes .m-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.3rem;
  font-weight: 600;
}
.mdl-restaurantes .m-info + * {
  margin-top: 1.5rem;
}
.mdl-restaurantes section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.mdl-restaurantes section + * {
  margin-top: 1.5rem;
}
.mdl-restaurantes footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 600;
}
.mdl-restaurantes footer + * {
  margin-top: 1.5rem;
}
.mdl-restaurantes .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-restaurantes .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
@media (max-width: 1365px) {
  .mdl-restaurantes {
    padding-bottom: 7rem;
  }
  .mdl-restaurantes .m-slide + * {
    margin-top: 4rem;
  }
  .mdl-restaurantes .m-grid {
    gap: 5rem 2.4rem;
  }
}
@media (max-width: 1023px) {
  .mdl-restaurantes .m-slide {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .mdl-restaurantes .m-nav > * {
    padding: 0 2rem;
  }
  .mdl-restaurantes .m-item {
    width: calc(50% - 1.2rem);
  }
}
@media (max-width: 767px) {
  .mdl-restaurantes {
    padding-bottom: 6rem;
  }
  .mdl-restaurantes .m-item {
    width: 100%;
  }
}
