@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-texto-largo {
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: #fff;
}
@media (max-width: 1365px) {
  .mdl-texto-largo {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
@media (max-width: 767px) {
  .mdl-texto-largo {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.mdl-texto-largo .m-content {
  margin: 0 auto;
  max-width: 125rem;
}
.mdl-texto-largo article + * {
  margin-top: 6rem;
}
.mdl-texto-largo header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .mdl-texto-largo header {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}
.mdl-texto-largo header + * {
  margin-top: 3.5rem;
}
.mdl-texto-largo section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
