@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-habitaciones-destacado {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #EAE5DF;
}
@media (max-width: 1365px) {
  .mdl-habitaciones-destacado {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 767px) {
  .mdl-habitaciones-destacado {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
.mdl-habitaciones-destacado .m-content {
  margin: 0 auto;
  max-width: 150rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mdl-habitaciones-destacado article {
  text-align: center;
}
.mdl-habitaciones-destacado article + * {
  margin-top: 6rem;
}
.mdl-habitaciones-destacado header {
  font: 600 1.5rem/2.6rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media (max-width: 767px) {
  .mdl-habitaciones-destacado header {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
.mdl-habitaciones-destacado header + * {
  margin-top: 1.5rem;
}
.mdl-habitaciones-destacado section {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-habitaciones-destacado section {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-habitaciones-destacado section {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-habitaciones-destacado .m-slide-content {
  width: 100%;
}
.mdl-habitaciones-destacado .m-slide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4rem 2.4rem;
}
.mdl-habitaciones-destacado .m-slide + * {
  margin-top: 8rem;
}
.mdl-habitaciones-destacado .m-item {
  position: relative;
}
.mdl-habitaciones-destacado .m-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.6s ease;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.mdl-habitaciones-destacado .m-item img {
  width: 100%;
  display: block;
  aspect-ratio: 0.75;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 1366px) {
  .mdl-habitaciones-destacado .m-item:hover:before {
    opacity: 0;
  }
  .mdl-habitaciones-destacado .m-item:hover .m-hovered {
    opacity: 1;
  }
}
.mdl-habitaciones-destacado .m-hovered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.6s ease;
}
.mdl-habitaciones-destacado .m-hovered:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
}
.mdl-habitaciones-destacado .m-hovered svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: auto;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.mdl-habitaciones-destacado .m-item-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 3rem;
  left: 50%;
  z-index: 6;
  transform: translateX(-50%);
}
.mdl-habitaciones-destacado .m-item-pagination > * {
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 0;
  margin: 0 0.4rem !important;
  background-color: #fff;
}
.mdl-habitaciones-destacado .m-item-pagination > *:not(.swiper-pagination-bullet-active) {
  opacity: 0.3 !important;
}
.mdl-habitaciones-destacado .m-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding: 3rem 2rem;
  text-align: center;
  color: #fff;
}
.mdl-habitaciones-destacado .m-pagination {
  display: none;
}
.mdl-habitaciones-destacado .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
  margin-top: 6rem;
}
@media (min-width: 1366px) {
  .mdl-habitaciones-destacado .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
@media (min-width: 1024px) {
  .mdl-habitaciones-destacado .m-item {
    width: calc(25% - 1.8rem);
  }
}
@media (max-width: 1365px) {
  .mdl-habitaciones-destacado .m-hovered {
    display: none;
  }
}
@media (max-width: 1023px) {
  .mdl-habitaciones-destacado {
    overflow: hidden;
  }
  .mdl-habitaciones-destacado .m-slide-content {
    overflow: visible;
  }
  .mdl-habitaciones-destacado .m-slide {
    gap: 0;
    flex-wrap: nowrap;
    justify-content: inherit;
  }
  .mdl-habitaciones-destacado .m-item {
    width: 29rem;
  }
  .mdl-habitaciones-destacado .m-pagination {
    display: flex;
    justify-content: center;
    margin: 6rem auto 0;
  }
  .mdl-habitaciones-destacado .m-pagination > * {
    width: 3.5rem;
    height: 0.2rem;
    border-radius: 0;
    margin: 0 0.4rem !important;
    background-color: #3E441D;
  }
  .mdl-habitaciones-destacado .m-pagination > *:not(.swiper-pagination-bullet-active) {
    opacity: 0.3 !important;
  }
}
@media (max-width: 767px) {
  .mdl-habitaciones-destacado .m-pagination {
    margin-top: 4rem;
  }
  .mdl-habitaciones-destacado .m-button {
    margin-top: 4rem;
  }
}
