@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
}
mark {
  background: none;
}
:focus {
  outline: none!important;
}
::-moz-focus-inner {
  border: 0;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: 'Bodoni 72';
  src: url('../../fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'), url('../../fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
/**/
/**/
/**/
/**/
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* Spacings */
.eff-init_trans * {
  transition: none!important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px '';
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.4rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1365px) {
  p {
    margin-bottom: 2.4rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 9rem;
}
@media (max-width: 1365px) {
  [class^="mdl-"] {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding: 2rem;
  }
}
.eff-init_trans * {
  transition: none!important;
}
/* Owner theme */
body {
  color: #3E441D;
}
main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.css-panel-color-brand {
  background-color: #C39D79;
}
.css-panel-color-orange {
  background-color: #E1CDBA;
}
.css-panel-color-wine {
  background-color: #AE9494;
}
.css-panel-color-green {
  background-color: #AAB4AC;
}
.css-panel-color-light-green {
  background-color: #B3B3A8;
}
.mdl-destacado-hotel {
  padding: 0;
  position: relative;
  background-color: #EAE5DF;
}
.mdl-destacado-hotel .m-sticky {
  position: sticky;
  top: 0;
}
.mdl-destacado-hotel .m-aux {
  height: 50rem;
}
.mdl-destacado-hotel .m-content {
  margin: 0 auto;
  max-width: 168rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.mdl-destacado-hotel .m-articles {
  width: 88rem;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 9rem;
  box-sizing: border-box;
  pointer-events: none;
}
.mdl-destacado-hotel .m-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100dvh;
  padding: 9rem 0;
  box-sizing: border-box;
  pointer-events: none;
  background-color: #EAE5DF;
}
.mdl-destacado-hotel article {
  width: 49rem;
  min-height: 61rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem;
}
.mdl-destacado-hotel footer {
  font: 600 1.5rem/2.6rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}
@media (max-width: 767px) {
  .mdl-destacado-hotel footer {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
.mdl-destacado-hotel footer + * {
  margin-top: 1.6rem;
}
.mdl-destacado-hotel header {
  font-family: 'Bodoni 72', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 1365px) {
  .mdl-destacado-hotel header {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 767px) {
  .mdl-destacado-hotel header {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}
.mdl-destacado-hotel .m-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mdl-destacado-hotel section {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.mdl-destacado-hotel section + * {
  margin-top: 2rem;
}
.mdl-destacado-hotel .m-button {
  font: 600 1.5rem/1.8rem 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 0.6s ease;
  border: 0.1rem solid;
  text-transform: none;
  height: 5rem;
  border-color: #3E441D;
  color: #3E441D;
  pointer-events: auto;
}
@media (min-width: 1366px) {
  .mdl-destacado-hotel .m-button:hover {
    background-color: #3E441D;
    color: #fff;
  }
}
.mdl-destacado-hotel .m-galleries-section {
  flex: none;
  width: 100%;
  padding-left: 88rem;
  box-sizing: border-box;
  /* position: relative; */
}
.mdl-destacado-hotel .m-slide {
  width: 100%;
  height: 100dvh;
  position: static;
}
.mdl-destacado-hotel .m-slide:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mdl-destacado-hotel .m-slide img {
  object-fit: cover;
  object-position: center;
}
.mdl-destacado-hotel .m-slide-small {
  position: absolute;
  left: 88rem;
  bottom: 9rem;
  z-index: 5;
  overflow: hidden;
  transform: translateX(-50%);
  height: 42rem;
  pointer-events: none;
}
.mdl-destacado-hotel .m-slide-small img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
.mdl-destacado-hotel .m-pagination {
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  z-index: 10;
  left: 2.8rem;
  right: auto;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(90deg);
}
.mdl-destacado-hotel .m-pagination.swiper-pagination-bullets {
  display: flex;
}
.mdl-destacado-hotel .m-pagination > * {
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 0;
  margin: 0 0.4rem !important;
  background-color: #3E441D;
}
.mdl-destacado-hotel .m-pagination > *:not(.swiper-pagination-bullet-active) {
  opacity: 0.3 !important;
}
@media (max-width: 1365px) {
  .mdl-destacado-hotel .m-articles {
    width: 62rem;
    padding-left: 8rem;
  }
  .mdl-destacado-hotel article {
    min-height: 53rem;
  }
  .mdl-destacado-hotel .m-section {
    width: 41rem;
  }
  .mdl-destacado-hotel .m-galleries-section {
    padding-left: 70rem;
  }
  .mdl-destacado-hotel .m-slide-small {
    height: 24rem;
    left: 54rem;
    bottom: 11rem;
    transform: none;
  }
}
@media (max-width: 1023px) {
  .mdl-destacado-hotel {
    min-height: 100vh;
    padding: 17rem 10rem 8rem;
    box-sizing: border-box;
  }
  .mdl-destacado-hotel .m-content {
    display: flex;
    gap: 11rem;
    flex-direction: column-reverse;
  }
  .mdl-destacado-hotel .m-galleries-section {
    height: 49rem;
    padding-left: 0;
  }
  .mdl-destacado-hotel .m-slide {
    height: 100%;
    margin-right: 0;
    width: calc(100% - 13rem);
  }
  .mdl-destacado-hotel .m-slide-small {
    height: 23rem;
    top: 49.2rem;
    left: 10rem;
    bottom: auto;
    transform: none;
  }
  .mdl-destacado-hotel .m-articles {
    width: 100%;
    height: auto;
    position: static;
    text-align: center;
    padding: 0;
  }
  .mdl-destacado-hotel .m-article {
    padding: 0;
    height: auto;
    display: block;
  }
  .mdl-destacado-hotel article {
    width: 100%;
    min-height: 0;
    align-items: center;
  }
  .mdl-destacado-hotel .m-section {
    align-items: center;
    width: 62rem;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .mdl-destacado-hotel {
    min-height: 0;
    padding: 3rem 2rem 4.6rem;
  }
  .mdl-destacado-hotel .m-content {
    gap: 8rem;
  }
  .mdl-destacado-hotel .m-galleries-section {
    height: 21rem;
    padding: 0 1rem;
  }
  .mdl-destacado-hotel .m-slide {
    height: 100%;
    margin-right: 0;
    width: calc(100% - 8.4rem);
  }
  .mdl-destacado-hotel .m-slide-small {
    height: 13rem;
    top: 15.5rem;
    left: 5rem;
  }
  .mdl-destacado-hotel article {
    gap: 3rem;
  }
  .mdl-destacado-hotel .m-section {
    align-items: center;
    width: 62rem;
    max-width: 100%;
  }
  .mdl-destacado-hotel section {
    display: none;
  }
  .mdl-destacado-hotel section + * {
    margin-top: 0;
  }
  .mdl-destacado-hotel .m-pagination {
    left: 1.8rem;
    top: 22rem;
  }
}
.mdl-galeria-slide {
  padding: 0;
}
.mdl-galeria-slide .m-content {
  margin: 0 auto;
  max-width: 168rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.mdl-galeria-slide .v-slide {
  margin: 0;
  height: 100vh;
  width: calc(50% - 1.2rem);
}
.mdl-galeria-slide .swiper-slide {
  display: block;
}
.mdl-galeria-slide .m-controls-content {
  padding-left: 15.4rem;
  padding-right: 15.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1365px) {
  .mdl-galeria-slide .m-controls-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 767px) {
  .mdl-galeria-slide .m-controls-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.mdl-galeria-slide .m-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mdl-galeria-slide .m-controls > * {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 50%;
  transition: 0.6s ease;
  width: 5rem;
  height: 5rem;
  background-color: #EAE5DF;
}
.mdl-galeria-slide .m-controls > *.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.mdl-galeria-slide .m-controls > *.swiper-button-lock {
  opacity: 0;
}
.mdl-galeria-slide .m-controls > * svg {
  flex: none;
  width: 3.4rem;
  height: 3.4rem;
}
.mdl-galeria-slide .m-controls > * svg * {
  transition: 0.6s ease;
}
.mdl-galeria-slide .m-controls > * svg {
  width: 2.4rem;
  height: 2.4rem;
}
.mdl-galeria-slide .m-controls > * svg * {
  fill: #3E441D;
}
@media (min-width: 1366px) {
  .mdl-galeria-slide .m-controls > *:hover {
    background-color: #3E441D;
  }
  .mdl-galeria-slide .m-controls > *:hover svg * {
    fill: #fff;
  }
}
.mdl-galeria-slide .m-pagination {
  justify-content: flex-start;
  margin: 0;
}
.mdl-galeria-slide .m-pagination.swiper-pagination-bullets {
  display: flex;
}
.mdl-galeria-slide .m-pagination > * {
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 0;
  margin: 0 0.4rem !important;
  background-color: #3E441D;
}
.mdl-galeria-slide .m-pagination > *:not(.swiper-pagination-bullet-active) {
  opacity: 0.3 !important;
}
@media (max-width: 1365px) {
  .mdl-galeria-slide {
    padding-top: 3.6rem;
  }
}
@media (max-width: 767px) {
  .mdl-galeria-slide {
    padding-top: 2.4rem;
  }
  .mdl-galeria-slide .v-slide {
    width: 100%;
  }
  .mdl-galeria-slide .m-slide-content2 {
    display: none;
  }
}
